#!/bin/sh
# GitLab pre-install script

DEST_DIR=<%= install_dir %>

mkdir -p /var/log/gitlab/reconfigure

skip_migrations_file=/etc/gitlab/skip-auto-migrations

pg_check() {
  PG_MIN_VERSION=9.6

  # Fetch the currently running version from the database
  # If this doesn't work, assume this isn't a database node
  if ! running_version=$(gitlab-psql -d template1 -c 'SHOW server_version' -qt 2>/dev/null); then
    notify
    notify "This node does not appear to be running a database"
    notify "Skipping version check, if you think this is an error exit now"
    notify
    return
  fi

  # Check if PostgreSQL version is less than PG_MIN_VERSION and notify user.
  # In AWK, $NF will return the last column of the version output, which
  # is the version string. By doing $NF+0, we force awk to convert it to a
  # float, so that we can do numerical comparison.
  if ! $(echo ${running_version} | awk -v PG_MIN_VERSION="$PG_MIN_VERSION" '$NF+0 < PG_MIN_VERSION {exit 1}'); then
    notify
    notify "Your version of PostgreSQL is no longer supported. Please upgrade your PostgreSQL version."
    notify "Check https://docs.gitlab.com/omnibus/update/#updating-gitlab-100-or-newer for details."
    notify ""
    notify "Upgrade failed. Retry the upgrade after upgrading your PostgreSQL version."
    exit 1
  fi
}

main() {
  if [ -e "${skip_migrations_file}" ] ; then
    # The user wants us to do nothing
    return
  fi

  if [ -d ${DEST_DIR}/service/unicorn ] ; then
    notify "Automatically backing up only the GitLab SQL database (excluding everything else!)"
    if ! ${DEST_DIR}/bin/gitlab-rake gitlab:backup:create SKIP=repositories,uploads,builds,artifacts,lfs,registry,pages ; then
      notify
      notify "Backup failed! If you want to skip this backup, run the following command and"
      notify "try again:"
      notify
      notify "  sudo touch ${skip_migrations_file}"
      notify
      exit 1
    fi
  fi
}

notify() {
  echo "gitlab preinstall: $1"
}

if [ -n "${GITLAB_DEBUG}" ] ; then
  notify "debug: arguments: $@"
fi

case "$1" in
  2)
    # Looks like an RPM upgrade
    pg_check
    main
    ;;
  upgrade)
    # Looks like a DEB upgrade
    pg_check
    main
    ;;
  *)
    # This is not an upgrade, nothing to do.
    ;;
esac
